body{
    text-align: center;
    position: relative;
}
/* кнопка */
.gallery-btn{
    background-color: white;
    color: rgb(58, 179, 249);
    border: 1px solid rgb(58, 179, 249);
    cursor: pointer;
    height: 2rem;
    width: 6rem;
}
.gallery-btn:hover{
    color: white;
    background-color: rgb(58, 179, 249);
}
.gallery-btn:active{
    cursor: default;
    background-color: white;
    color: rgb(58, 179, 249);
}
/* header */
.header{
    margin-bottom: 1rem;
    position: relative;
    height: 3rem;
    border-top: 1px solid rgb(58, 179, 249);
    border-bottom: 1px solid rgb(58, 179, 249);
}
.header__title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color:rgb(58, 179, 249);
    width: 7rem;
    height: 3rem;
    padding: 0 3rem;
    padding-top: 0.25rem;
}
.header__login-btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 6rem;
    border:none;
    border-left: 1px solid rgb(58, 179, 249);
}
.header__username{
    color: rgb(58, 179, 249);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 3rem;
    width: 6rem;
    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 6rem;
}

.gallery-container{
    display: flex;
    width: 63rem;
    margin: auto;
}

.gallery{
    margin: auto;
    width: 60rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid rgb(219, 219, 219);
}

.gallery__img-btns{
    display: block;
    width: 3rem;
    margin: 0.1rem;
}

.gallery__img-btn{
    font-size: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10%;
    margin-bottom: 0.2rem;
}

.gallery__pane{
    height: 100%;
}

.gallery__prev-btn, .gallery__next-btn{
    height: 100%;
    width: 3%;
    background-color: rgb(58, 179, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.gallery__prev-btn:hover, .gallery__next-btn:hover{
    color: rgb(230, 230, 230);
}

.gallery__prev-btn:active, .gallery__next-btn:active{
    cursor: default;
    color: white;
}

.gallery__prev-btn{
    position: absolute;
    top: 0;
    left: 0;
}

.gallery__next-btn{
    position: absolute;
    top: 0;
    right: 0;
}