body{
    text-align: center;
    position: relative;
}

.gallery-container{
    display: flex;
    width: 63rem;
    margin: auto;
}

.gallery{
    margin: auto;
    width: 60rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid rgb(219, 219, 219);
}

.gallery__img-btns{
    display: block;
    width: 3rem;
    height: 6rem;
    margin: 0.1rem;
}

.gallery__img-btn{
    font-size: 150%;
    height: 50%;
    width: 100%;
    border-radius: 10%;
    margin-bottom: 0.2rem;
}

.gallery__pane{
    height: 100%;
}

.gallery__prev-btn, .gallery__next-btn{
    height: 100%;
    width: 3%;
    background-color: rgb(58, 179, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.gallery__prev-btn:hover, .gallery__next-btn:hover{
    color: rgb(230, 230, 230);
}

.gallery__prev-btn:active, .gallery__next-btn:active{
    cursor: default;
    color: white;
}

.gallery__prev-btn{
    position: absolute;
    top: 0;
    left: 0;
}

.gallery__next-btn{
    position: absolute;
    top: 0;
    right: 0;
}

/* масштабирование слайдера */
@media(max-width: 1000px){
    .gallery-container{
        width: 100%;
        height: auto;
    }
    .gallery__pane{
        width: 90%;
        height: auto;
    }
    .gallery{
        width: 95%;
        height: auto;
    }
    .gallery__img-btns{
        width: 5vw;
        height: 10vw;
    }
}