.registration-container{
    border: 3px dotted grey;
    width: 30rem;
    margin: auto;
    padding: 2rem;
}

.registration-container *{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.registration-container__header{
    text-align: center;
    padding-bottom: 1rem;
}

.newUserForm{
    text-align: center;
}

.newUserForm__input{
    text-align: center;
    padding: 0.25rem 0;
    margin-bottom: 0.5rem;
    width: 18rem;
}

.newUserForm__btn{
    padding: 0.5rem;
    width: 9rem;
    background-color: white;
    outline: none;
    border: 1px solid grey;
    cursor: pointer;
}
.newUserForm__btn:hover{
    background-color: rgb(220, 220, 220);
}
.newUserForm__btn:active{
    background-color: white;
    cursor: default;
}

.newUserForm__error{
    padding: 0;
    padding-top: 1rem;
    color: red;
}

@media (max-width:600px){
    .registration-container{
        width: 85vw;
    }
}